/*
	Author: Your Name
	Version: 1.0
*/

/**
 *	Fonts: Declare any custom fonts here
 */
	

	
/**
 *	Packages: See packages.scss
 */

	@import "packages";


/**
 *	Style Guide: See style-guide.scss
 */

	@import "style-guide";

/**
 *	Global styles:
 *	Declare styles that apply to your entire project.
 */
	
	body {
		font-family: $base-font-family;
		font-size: $base-font-size;
		background-color: #fff;
		color: $base-font-color;
		-webkit-font-smoothing: antialiased !important;
	}
	
	h1, h2, h3, h4,h5, h6 {
		font-family: $heading-font;
	}


/**
 *	User Interface: 
 *	You might find it useful to fragment your css into
 *	different elements.
 */

//	@import "ui/header";
//	@import "ui/elements";
//	@import "ui/sections";
//	@import "ui/footer";


/**
 *	Pages:
 *	You might find it useful to fragment your css into
 *	different pages.
 *	@import "pages/sample";
 */