/*
	Fonts: Declare any custom fonts here
*/



/*
	Packages: See packages.scss
*/

	@import "packages";


/*
	Global styles: Your styles begin here
*/
	
	body {
	
	}



/*
	User Interface: Different elements of your design
*/

//	@import "ui/header";
//	@import "ui/elements";
//	@import "ui/sections";
//	@import "ui/footer";


/*
	Pages: Styles for specific pages
*/

//  @import "pages/sample";


/*
	Media Queries: Alter your design appearance based on media queries
*/

//  @import "media-queries/laptop";
//  @import "media-queries/mobile";




