/**
 *	Style Guide
 *	=================
 *	Set up variables to keep your design consistent
 */


/**
 *	Base Font Settings.
 */

$base-font-family: 	'Helvetica', Arial, Sans-serif;
$base-font-size:    16px;
$base-line-height:  1.25em;

$heading-font: 		'Helvetica', Arial, Sans-serif;



/**
 * Font-sizes
 */

$h1-size:           4.429em; // 62px
$h2-size:           3.143em; // 44px
$h3-size:           2.857em; // 40px
$h4-size:           1em; // 14px
$h5-size:           0.857em;
$h6-size:           0.714em;



/**
 *	Colour Palette
 *  =====================
 *  Set variables that represent your project's colour palette.
 *
 *  $project-colour: 	#000000;
 */

$base-font-color: 	#333;